.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;

  h1 {
    font-size: 3rem;
    line-height: 1;
    color: #006eda;
    text-transform: uppercase;
    text-align: center;
  }

  section {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;

    >div {
      width: 30%;
      border: none;
      box-shadow: 0 0 10px #ffffff3b;
      border-radius: 2px;
      height: 300px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      
      img {
        transition: all 3s ease;
        width: 100%;
        transform: translateY(0px);
      }

      div {
        transition: all 0.3s ease;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        color: black;

        h3 {
          padding: 0 10px;
          font-size: clamp(12px, 2vw, 16px);
        }

        p {
          padding: 2px 10px;
          font-size: clamp(8px, 2vw, 16px);
        }

        a {
          color: white;
          padding: 0 10px;
          font-size: clamp(10px, 2vw, 16px);
        }
      }

      &:hover {
        .img1{
          transform: translateY(-1140px);
        }
        .img2{
          transform: translateY(-870px);
        }
        .img3{
          transform: translateY(-960px);
        }
      }
    }
  }
}
