.Projects { 

    .project-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        
        > div{
            min-width: 300px;
            width: 30%;
            background-color: rgba(92, 92, 92, 0.384);
            border-radius: 10px;
            overflow: hidden;
            padding: 5px;
            padding-top: 10px;
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: top;
                border-radius: 11px;
            }
            div{
                color: rgb(255, 255, 255);
                padding: 20px;
                a{
                    color: rgb(255, 255, 255);
                    text-decoration: none;

                    .bi{
                        position: relative;
                        top: 2px;
                    }


                }
                a:hover{
                    text-decoration: underline;
                }
            }

        }
    }


}