.Projects {

    .project-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        >div {
            min-width: 300px;
            width: 30%;
            height: 400px;
            background-color: rgba(92, 92, 92, 0.384);
            border-radius: 10px;
            overflow: hidden;
            padding-top: 10px;
            padding: 5px;

            .img-box {
                height: 300px;
                overflow: hidden;

                img {
                    border-radius: 11px;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                    transform: translateY(0px);
                    transition: transform 5s ease;
                }
            }

            div {
                color: rgb(255, 255, 255);
                padding: 20px;

                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;

                    .bi {
                        position: relative;
                        top: 2px;
                    }
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            &:hover {
                img {
                    transform: translateY(var(--img));
                }
            }
        }
    }


}